<mat-toolbar class="custom-toolbar">

<div class="nav-left"> <mat-icon class="icon-home">home</mat-icon> <button mat-button class="custom-button" [routerLink]="['/color']">Inicio</button> </div> <div class="nav-right">
  <!-- Colores -->
<button mat-button [matMenuTriggerFor]="menuColor" class="custom-button">
  <mat-icon>palette</mat-icon> Colores
</button>

<!-- Comentarios -->
<button mat-button [matMenuTriggerFor]="menuComentary" class="custom-button">
  <mat-icon>comment</mat-icon> Comentarios
</button>

<!-- Diagnóstico -->
<button mat-button [matMenuTriggerFor]="menuDiagnostic" class="custom-button">
  <mat-icon>healing</mat-icon> Diagnóstico
</button>

<!-- Flashcard -->
<button mat-button [matMenuTriggerFor]="menuFlashcard" class="custom-button">
  <mat-icon>style</mat-icon> Flashcards
</button>

<!-- Flashcard Imagen -->
<button mat-button [matMenuTriggerFor]="menuFlashcardImg" class="custom-button">
  <mat-icon>image</mat-icon> Flashcard Img
</button>

<!-- Flashcard Tema -->
<button mat-button [matMenuTriggerFor]="menuFlashcardTheme" class="custom-button">
  <mat-icon>category</mat-icon> Flashcard Tema
</button>

<!-- Salir -->
<button mat-button [matMenuTriggerFor]="menuSalir" class="custom-button">
  <mat-icon>logout</mat-icon> Cerrar sesión
</button>


</div> </mat-toolbar> <!-- Menús desplegables -->
<mat-menu #menuColor="matMenu">
<button mat-menu-item routerLink="/color"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/color/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuComentary="matMenu">
<button mat-menu-item routerLink="/comentary"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/comentary/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuDiagnostic="matMenu">
<button mat-menu-item routerLink="/diagnostic"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/diagnostic/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuFlashcard="matMenu">
<button mat-menu-item routerLink="/flashcard"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/flashcard/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuFlashcardImg="matMenu">
<button mat-menu-item routerLink="/flashcardimg"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/flashcardimg/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuFlashcardTheme="matMenu">
<button mat-menu-item routerLink="/flashcardtheme"><mat-icon>list</mat-icon> Listar</button>
<button mat-menu-item routerLink="/flashcardtheme/nuevo"><mat-icon>edits</mat-icon> Crear</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
<button mat-menu-item>
<mat-icon>person</mat-icon>
<span>{{ username }}</span>
</button>
<button mat-menu-item>
<mat-icon>assignment_ind</mat-icon>
<span>{{ role }}</span>
</button>
<button mat-menu-item routerLink="/login" (click)="eliminar()">
<mat-icon>logout</mat-icon>
<span>Cerrar sesión</span>
</button>
</mat-menu>

<router-outlet></router-outlet>